[2020-02-01 05:30] mrillusi0n opened #2 "I'd like to have the freedom of customizing my cursor, but the theme forces it to be an underline."
I'm using iTerm2, and saw that changing the cursor type in the terminal settings won't have an effect, when I have this theme enabled.

[2020-02-03 00:06] quizzicaltrains commented on #2
I had that issue too, I solved it by commenting out the last line so that `precmd_functions+=(_fix_cursor)` becomes `# precmd_functions+=(_fix_cursor)`.

[2020-02-03 10:33] mrillusi0n commented on #2
It'd be nicer if the user is given a choice. @quizzicaltrains, thank you!

[2020-02-03 14:01] reobin commented on #2
Thank you for the answer @quizzicaltrains !

The reason I have this piece of code is that exiting vim editor with zsh always sets the cursor as a box, no matter your terminal configuration. This forces the cursor back to an underline every time.

I like the idea of having an option for cursor in the `.zshrc` file. I will look into it soon enough.

[2020-02-03 14:18] #2 closed

[2020-02-03 17:48] reobin commented on #2
@mrillusi0n @quizzicaltrains an option was added to customize the cursor! See how in the merge request #3

[2020-03-05 15:25] reobin opened #4 "Text takes color of prefix when resizing terminal"
Previously entered text changes color when resizing the terminal window.

[2020-03-06 20:49] #4 closed

[2020-03-10 19:45] skylarmb opened #6 "Cannot turn off cursor blinking"
I would like to be able to turn off the blinking cursor. Even commenting out all the cursor related lines at the bottom of the theme does not seem to fix this.

[2020-03-10 19:54] skylarmb commented on #6
nvm, this doesnt have to do with this theme

[2020-03-10 19:54] #6 closed

[2020-04-03 09:47] erikr opened #7 "No current settings to display user@host in singleline prompt"
**What**
Currently, users have two options for the left prompt:
1. Singleline:
[code]
2. Multiline:
[code]

It would be nice if there is a third option:

3. Singleline verbose:
[code]

**Why**
I like the compactness of singleline. However, since I remote to several different servers, I would like to know which user and machine I am connected to.

**How**
Following the syntax already used at
https:

[2020-04-03 14:25] #7 closed

[2020-04-20 07:34] tdeekens opened #10 "Add option to customize prompt symbol"
Thanks for this great theme. I really enjoy it!

I was wondering if supporting a prompt symbol would be something worthwhile. Pure suppots it via a PURE_PROMPT_SYMBOL and we could have a TYPEWRITTEN_PROMPT_SYMBOL.

What do you think?

[2020-04-20 12:31] reobin commented on #10
Hi @tdeekens !

This seems reasonable enough to me, and should be pretty easy to implement. I will work on it today.

Thank you for your suggestion!
Robin

[2020-04-20 12:59] #10 closed

[2020-04-25 17:07] y1rah opened #12 "How May I Remove the iTerm2's Header as README?"
Header is not always pretty, but I got trouble in setting iterm2 with non-bar style?

Is there any way to achieve the doc's presented style?

^_^ Thanks.

![Xnip2020-04-26_01-04-48](https://user-images.githubusercontent.com/30183249/80285808-fcb85780-8759-11ea-9f77-364b6c3febdc.jpg)

[2020-04-25 21:13] reobin commented on #12
Hi @y1rah !

After accessing the iTerm2 preference window `cmd + ,`, the "no title bar" is located at `Profiles > Window > Style`

![Screen Shot 2020-04-25 at 17 13 11](https://user-images.githubusercontent.com/5920450/80291040-1cc72700-8718-11ea-9fb7-e0a883f63dc4.png)

[2020-04-26 01:30] y1rah commented on #12
![Xnip2020-04-26_09-22-24](https://user-images.githubusercontent.com/30183249/80294837-88a0a280-879f-11ea-8673-7c6d0c816148.jpg)

Seems work but the corner's round sharper than normal 😂。

[2020-04-26 01:31] #12 closed

[2020-04-26 10:38] y1rah commented on #12
I got the idea, to reach a seem corner round effect, we need iterm2 on 10.14 and above as illustrated [here](https://iterm2.com/documentation-preferences-appearance.html).

[2020-04-26 14:21] reobin commented on #12
I am not sure about squared vs. rounded corners as mine always had them rounded.

Another thing I did to get that look is add a little bit of padding around the terminal pane so that text is not so close to the sides. You can do that in the `Advanced` tab. Type "margin" in the search input and change the shown values.

![Screen Shot 2020-04-26 at 10 16 27](https://user-images.githubusercontent.com

[2020-04-26 16:34] y1rah commented on #12
![Screen Shot 2020-04-27 at 12 30 06 AM](https://user-images.githubusercontent.com/30183249/80313580-479ba300-881e-11ea-804f-7e0313f421e4.png)

Thx, margin is just great!

By the way I guess the rounded feature is provided in iterm theme `minimal`.

Meanwhile, by utilizing margin, one should consider terminal's background color to fit editor theme otherwise will make a border box.

^_^

[2020-04-29 14:58] xenoterracide opened #13 "add a prefix for the righthand side"
So this theme is basically exactly what I was looking for, however I do have one thing I'd like to configure, when I copy and paste code from my terminal, I'd like the code to be basically executable, or show what I executed.

[code]
so that last part isn't part of the output or what was executed, what I'd like is for that to read as

[code]

so it reads and acts as a comment if someone copy's and

[2020-04-29 15:17] xenoterracide opened #14 "show path relative to repo/home"
so... I thought that *mh* was doing what I'm about to ask for, turns out... it's just truncating and the path I had was the perfect number of characters... I don't really know how feasible this really is...

this is what *mh* was showing...
[code]

what I thought this was saying was the root of the git is the `aurelia` directory, and I'm in `aurelia/path/to`, and I thought it was saying that I cou

[2020-04-29 15:26] reobin commented on #14
Hi @xenoterracide !

This sounds really interesting, and I'd like it added as an option, although I might not be able to do it fast as I am pretty busy this week.

I am going to do some tests today and see what I can do.

[2020-04-29 15:27] reobin commented on #13
So what I understand is that you would like the `#` character to be displayed at all times? Should be a pretty easy option to implement if the need is valid!

[2020-04-29 15:35] xenoterracide commented on #13
yes, and yeah I figured this would be. It's all about me copy and pasting into everthing from emails, discord and stackoverflow

[2020-04-30 08:06] y1rah commented on #12
Additionally, if one uses `yabai`,

try:

[code]

to reach a rounded border effect.

[2020-05-04 12:08] #13 closed

[2020-05-04 12:11] reobin commented on #13
Sorry for the wait @xenoterracide !
An option called `TYPEWRITTEN_RIGHT_PROMPT_PREFIX` was added. See the readme for your specific use case. I will keep thinking about how #14 can be done simply this week.
Thank you!

[2020-05-10 16:50] #14 closed

[2020-05-10 16:52] reobin commented on #14
@xenoterracide
Finally got arround to work on this a little. Pull `master` and add this line to your `.zshrc` to use the feature:
[code]
This will display the git root directory as well as the current working directory when you're inside a git repo.
Tell me what you think about it!

[2020-05-11 20:05] xenoterracide commented on #14
so cool dude, these are awesome, thanks!

[2020-05-11 20:08] reobin commented on #14
Ended up trying the theme like this and I am liking it a lot.
Maybe this should be a default in the future! We'll see
Thanks for the suggestion!

[2020-05-13 11:32] mrillusi0n opened #18 "On commit, the cursor overwrites the the arrow on the left."
### Before Push
Weird behavior of the prompt.
![image](https://user-images.githubusercontent.com/37063502/81806488-2931e900-953a-11ea-8fa1-9bb0d24b3632.png)

### After Push
Prompt restores. You can see that `gp` was written over the arrow.
![image](https://user-images.githubusercontent.com/37063502/81806635-5da5a500-953a-11ea-9567-eea1e9fe9068.png)

[2020-05-13 11:51] reobin commented on #18
Hi @mrillusi0n !

That is weird indeed.

What do you use to commit? vim? I am thinking maybe the cursor fix function could be guilty here.

Also, did the problem start happening after recent  updates of typewritten?

[2020-05-13 15:11] mrillusi0n commented on #18
`gp` is aliased to `git push -u origin master`. I have tried with and without calling the `_fix_cursor`. Currently, it's just
[code]
Here's one with it enabled:
![image](https://user-images.githubusercontent.com/37063502/81830654-fd266000-9559-11ea-97c5-073baaf93559.png)
The arrow is still over written when I have an unpushed commit.

[2020-05-13 15:22] reobin commented on #18
Thank you for testing without `_fix_cursor` @mrillusi0n . That is curious, and I am unable to reproduce the bug. Could you try pulling master, sourcing `.zshrc` or ending you zsh session completely?

I notice that there is a blank space at the right of your right prompt when the prompt is absent. That's my only hint. I will keep looking into that when I have some time.

[2020-05-13 17:29] mrillusi0n commented on #18
Spaces on the right also appear when I use ➤ as the `prompt_symbol`.
![image](https://user-images.githubusercontent.com/37063502/81844378-9eb6ad00-956c-11ea-9276-45d288e70b7f.png)

I think this is silly, but what I've done is — copy all the contents from `typewritten.zsh-theme` on the repo, and paste it in `~/.oh-my-zsh/custom/themes/typewritten.zsh-theme`. Could that be something that's causing t

[2020-05-13 17:57] reobin commented on #18
I'll do some tests with your prompt symbol. It could lead to the problem. Thanks!

[2020-05-13 21:20] reobin commented on #18
@mrillusi0n

Tried your symbol and setup with your files and still nothing... What terminal are you using?

<img width="586" alt="Screen Shot 2020-05-13 at 17 18 09" src="https://user-images.githubusercontent.com/5920450/81866916-ea9e2d80-953d-11ea-951f-0182921ba05c.png">

[2020-05-13 21:48] mrillusi0n commented on #18
Alacritty. I just checked on other terminals, the problem does not exist. But I remember seeing the same problem happen on Cool Retro Term.

[2020-05-13 22:16] reobin commented on #18
Just tried alacritty and the problem doesn't happen for me. Super confusing.

So it doesn't happen for you when you use iTerm2 or other terminals?

[2020-05-13 22:26] mrillusi0n commented on #18
![image](https://user-images.githubusercontent.com/37063502/81872008-91161d00-9596-11ea-8a96-df494ca53985.png)

This is interesting. Only Alacritty is having the problem. But I do remember I had faced the problem on CRT. And somehow it's managed to not break on CRT this time.

[2020-05-13 22:45] mrillusi0n commented on #18
I have no clue. I ran Alacritty with the default config.

![image](https://user-images.githubusercontent.com/37063502/81873480-7c875400-9599-11ea-900a-70986410ebd0.png)

No luck :\

[2020-05-14 01:55] reobin commented on #18
Well, sadly I can't reproduce it, I'm no help. I will try again these days.
Feel free to play in the code, turning off stuff, etc. and see if something comes up.
I'm really curious about this

[2020-05-14 10:30] mrillusi0n commented on #18
![image](https://user-images.githubusercontent.com/37063502/81923740-c3a63100-95fb-11ea-8205-c2f9032ac5d3.png)

This is Kitty, another GPU-based Terminal, having the same problem.

[2020-05-14 11:44] reobin commented on #18
What is the git status of this repo? Could it be a certain character messing up?
You could try changing the defined characters for the different git statuses and see what happens

[2020-05-14 11:49] reobin commented on #18
Try commenting out the `local git_info` variable and see if the problem is with the git stuff

[2020-05-14 17:46] mrillusi0n commented on #18
No luck. It's messing up. But I did see that Alacritty and Kitty, both being GPU based Terminal Emulators, have the same behavior (spaces on the right, overwriting the prompt symbol...).

[2020-05-14 17:47] mrillusi0n commented on #18
My next move is to find another GPU based terminal and see if that faces the same problem, haha.

[2020-05-15 08:27] mrillusi0n commented on #18
Update: I cloned the Alacritty repo and built it on my system. Seems to work fine so far.

![image](https://user-images.githubusercontent.com/37063502/82028921-d8de9680-96b3-11ea-92e5-54b8a6cdacc3.png)

Although, I'm not sure about Kitty, might as well do the same and try, or maybe not.

[2020-05-15 08:27] #18 closed

[2020-05-15 11:55] reobin commented on #18
Thank you for doing all this research @mrillusi0n although we didn’t anything significant.

Let’s keep an eye out for anyone else having similar problems

[2020-05-22 02:26] henryla92 opened #22 "How to show virtualenv?"
Hi there,

How do I get virtualenv to show up using this theme?

Thanks!

[2020-05-22 03:01] reobin commented on #22
Hi @henryla92 !

I've been using the theme for a couple of months and actually have no problem displaying the virtual env on my setup, and I don't think I have a specific config for that.

![Screen Shot 2020-05-21 at 22 57 10](https://user-images.githubusercontent.com/5920450/82626680-69d2d780-9bb6-11ea-9646-455df32ce002.png)

The theme doesn't handle virtualenv and leaves the default behaviour do

[2020-05-22 03:19] reobin commented on #22
So I just did some tests, and it happens that if you have the `virtualenv` plugin listed in your zsh plugins, the virtualenv doesn't show by default, and needs to be added in by the theme with something like this:
[code]
Removing the `virtualenv` plugin from the list, and restarting your session makes it appear again. If the code above was to be implemented as well, then 2 virtualenv tags would ap

[2020-05-22 03:41] reobin commented on #22
Seems like `VIRTUAL_ENV_DISABLE_PROMPT=1` could be added to the code to make sure the virtualenv display would be handled by the theme and not elsewhere.

So it all could be handled by the theme after all. I’m gonna do some more research to make sure it’s a good idea to do so.

[2020-05-25 04:00] n-e-o-n-7 opened #24 "How to add padding to the windows"
How to add padding to the windows
That's so beautiful

[2020-05-25 04:44] reobin commented on #24
Hi @n-e-o-n-7 !

If you’re using iTerm2, see [this comment](https://github.com/reobin/typewritten/issues/12#issuecomment-619558924) I made on an old issue.

If you’re using something else, look it up, there are options for padding (sometimes called margin) on pretty much all terminals.

[2020-05-25 09:12] #24 closed

[2020-06-02 19:18] Yang-lin-09 opened #25 "about configure"
hello, i want to change the default configure.
but i don't know change which file
![image](https://user-images.githubusercontent.com/56758695/83560389-bddfa380-a548-11ea-898b-49a314f9802c.png)
so, i'm so sorry to bother you. Thank you very much.

[2020-06-02 19:19] #25 closed

[2020-06-04 09:00] jletey opened #26 "Usage with Antibody"
**Is your feature request related to a problem? Please describe.**

I have a list of all my Zsh plugins (including `typewritten`):

[code]

In my Zsh config, I have the following:

[code]

However, I get the following (an unstyled prompt):

<img width="1252" alt="Screenshot 2020-06-04 at 09 58 19" src="https://user-images.githubusercontent.com/62398724/83736709-f024fa00-a649-11ea-8b35-6cd76217feb6

[2020-06-04 11:30] reobin commented on #26
Hi @jletey !
Thank you for the suggestion.

I have not heard of antibody but making typewritten standalone (no zsh or oh-my-zsh) is something I have had in mind for a while.

From what I understand, your request would remove oh-my-zsh as a dependency, and it is a step in the right direction for me.

Could you link to some themes that do support antibody?

[2020-06-04 12:07] jletey commented on #26
@reobin Awesome really glad to hear this!

The only other theme that I’ve used with Antibody, is [pure](https://github.com/sindresorhus/pure#antibody). But I’m sure there are many others out there :)

[2020-06-08 15:33] jletey commented on #26
@reobin More than happy to take a look at this! I'll let you know what I find :)

[2020-06-08 17:14] reobin commented on #26
@jletey

So I created a branch called feat/zsh-bundle, where I created a file `typewritten.zsh` which is still WIP (missing features), but works without oh-my-zsh.

Only thing missing for this new file to work with a package manager is the `typewritten.plugin.zsh` file which is also a symlink to the theme. Shouldn't be a problem whatsoever.

I added the manual instructions for now to install the `

[2020-06-08 21:27] reobin commented on #26
So I couldn't help myself, and kept working 😅 It wasn't that much work actually!

Got to implement all the features old typewritten had. And now it doesn't need oh-my-zsh, which is great.

As I said, I added the instructions on [how to manually install the theme.](https://github.com/reobin/typewritten/tree/feat/zsh-bundle#manual). I'd like to have another opinion on this, and a check if it actuall

[2020-06-09 07:33] jletey commented on #26
@reobin Thx so much for working on this 🙏

<img width="1252" alt="Screenshot 2020-06-09 at 08 30 50" src="https://user-images.githubusercontent.com/62398724/84118962-a19da400-aa2b-11ea-8e43-1181cc67a2fb.png">

The only thing that is missing is the directory 🤔

Other than that it works amazing 😍

[2020-06-09 07:36] jletey commented on #26
@reobin When using the latest code with Antibody, it unfortunately doesn't work :/

[code]

[2020-06-09 11:55] jletey commented on #26
<img width="1252" alt="Screenshot 2020-06-09 at 12 37 05" src="https://user-images.githubusercontent.com/62398724/84144588-65306f00-aa50-11ea-8e93-80d3db085dba.png">

There seems to be a problem with the git part of the prompt

[2020-06-09 11:56] reobin commented on #26
Hmm, I'll take a look as the current directory display works fine on my end.

About antibody, did you create the symlink file called `typewritten.plugin.zsh`?

[2020-06-09 11:59] jletey commented on #26
Alright, thx again for working on this :)

I'll try that, IMO, I think it's worthwhile to push the symlink to the branch.

[2020-06-09 12:02] reobin commented on #26
Current directory part was a dumb mistake 😅 You can pull and it should work.

I now also pushed the symlink plugin file, tell me how that works for you. I'll do some tests too.

Maybe I end up liking antibody.

[2020-06-09 12:25] reobin commented on #26
Got it to work with these lines in my `.zshrc`:
[code]
Struggled a little bit at first because I has pulled the master branch, and just specifying another branch later didn't update the local repo pulled by antibody.

[2020-06-09 13:22] jletey commented on #26
Haha yep just realised that 😅 I now have it working with Antibody 🎉 I can help submit a PR to add instructions on how to install.

Also, seems as tho there is a hick-up with git rn:

<img width="1252" alt="Screenshot 2020-06-09 at 14 19 01" src="https://user-images.githubusercontent.com/62398724/84152340-67002f80-aa5c-11ea-8c17-5b653b2c6ff0.png">

When I'm in the `~/Desktop/release` dir, the git s

[2020-06-09 13:54] reobin commented on #26
So one of the way the prompt checks for a git repository is to check if the `.git` repository exists.

I will remove this check and just keep the `git rev-parse` command. Could you pull and test again?

[2020-06-09 15:44] jletey commented on #26
<img width="1252" alt="Screenshot 2020-06-09 at 16 43 48" src="https://user-images.githubusercontent.com/62398724/84169320-683b5780-aa70-11ea-9d71-ba54299e1354.png">

Now it's failing in the git dir and the sub-dir

[2020-06-09 15:55] reobin commented on #26
Wow ahah

Are you sure everything is up to date? No check should be done for the `.git` directory.

The code for the `typewritten_is_git_repository` functions looks like this:
[code]

[2020-06-09 16:26] jletey commented on #26
<img width="1252" alt="Screenshot 2020-06-09 at 17 22 38" src="https://user-images.githubusercontent.com/62398724/84173919-d3d3f380-aa75-11ea-959a-d746b8097024.png">

Yeah it's updated! Still not working. And when I run `cat lib/git.zsh`, the updated code is there:

<img width="1252" alt="Screenshot 2020-06-09 at 17 25 18" src="https://user-images.githubusercontent.com/62398724/84174200-33ca9a00-a

[2020-06-09 16:30] reobin commented on #26
That is weird. Could you try on another repo?

or run this: `command git rev-parse --git-dir 2> /dev/null` in your repo and see what pops up?

[2020-06-09 16:31] reobin commented on #26
Basically, `command git rev-parse --git-dir 2> /dev/null` returns the path of the `.git` directory if you are in a git repo, and returns nothing if not.

[2020-06-09 16:49] reobin commented on #26
I updated the condition, maybe it runs better now.

Run `antibody update`. If not, I am puzzled as it works perfectly on my side 🤔

[2020-06-09 16:56] jletey commented on #26
Wuhuu!!! It works!!! 🎉 Thx for debugging this!

Ah I feel stupid 😅 Thx for the tip

[2020-06-09 17:11] reobin commented on #26
I'll update the readme, so it's more readable.

When you got a little bit of spacetime, could you come up with the docs on how to install it with various package managers?
I'm thinking of antigen and antibody, but maybe more if it actually works.

I think common ways to install a prompt theme are:
- prezto
- zim
- antigen
- antibody
- zgen
- zplug

You could try a couple, write the docs, and make

[2020-06-09 18:26] jletey commented on #26
I'd be more than happy too!

🤗

[2020-06-13 21:34] #26 closed

[2020-06-17 08:55] jletey opened #31 "Align right prompt"
**Is your feature request related to a problem? Please describe.**

When adding/removing files in a git dir, the right prompt varies:

<img width="1252" alt="Screenshot 2020-06-17 at 09 49 11" src="https://user-images.githubusercontent.com/62398724/84877502-814f9400-b080-11ea-8d02-e31689846c8a.png">

It ends up looking unorganised and a bit chaotic in my opinion.

**Describe the solution you'd lik

[2020-06-17 11:10] reobin commented on #31
Hey again @jletey !

Would you suggest some padding on the right to make status fit at all times, that would look funny when there is no status change, although it could be an option.

The other possibility would be to move the status symbols somewhere else. Maybe an option to reverse the right prompt like `? ! master <- typewritten`.

Did you have another idea to achieve a more aligned look on al

[2020-06-17 11:22] jletey commented on #31
Hmm I agree, padding would look weird. But so would the reverse IMO.

I don't know the best way to go about doing this 🤔 This is the first prompt with a RPROMPT that I've ever used 😅

[2020-06-17 11:52] reobin commented on #31
We could explore other prompt layouts completely. I guess that could be fun.

Let's think about some options that would look aligned at all times unless you change directory:
[code]
[code]
[code]
[code]
[code]

What do you think? Any other idea in mind?

[2020-06-17 11:54] reobin commented on #31
Other things than arrows could be displayed too, like parenthesis or something:
[code]

[2020-06-17 14:00] jletey commented on #31
Hmm I'm a fan of `3` and `4`. However in my head, in option `3`, it doesn't make sense to have the git status before the dir.

For `4` it's pretty much similar to Pure tbh, but it's my favourite option.

[2020-06-17 19:30] reobin commented on #31
Should be pretty easily done. I'm think of using the `TYPEWRITTEN_PROMPT_LAYOUT` variable for this, although it was used in the past for user and host stuff. What do you think?

Also, what names could we use for them?
Right now, we have `singleline`, `singleline_verbose`, and `multiline`, but like I said, they are used for `user@host` stuff.

[2020-06-18 13:50] jletey commented on #31
Sounds good to me! Sorry for the late reply 😬

[2020-06-18 18:36] henryla92 commented on #22
Ahh thank you!

[2020-06-18 18:36] #22 closed

[2020-06-19 15:26] jletey commented on #22
@reobin Could you give us some details on that setup 👀

[2020-06-19 15:30] reobin commented on #22
@jletey

That's the default virtual env display when you source it, from my experience anyway.

I noticed that having `virtualenv` listed in the ohmyzsh plugins removes it. That's why I mentionned that maybe it could be handled by typewritten, so that it would displaying at all times, plugin or not.

Do you not have this display when you source a virtual env?

[2020-06-19 15:31] jletey commented on #22
@reobin No I meant the terminal theme/setup 😅

[2020-06-19 15:35] reobin commented on #22
@jletey Oh ahah, that's my bad.

**Terminal**: iTerm2 (with window style set as `no title bar`)
**Font**: [JetBrains Mono](https://www.jetbrains.com/lp/mono/)
**colors**: [seoul256](https://github.com/junegunn/seoul256.vim) (They have an iterm2 color scheme in there somewhere)

I think that's it

[2020-06-19 19:26] reobin commented on #31
I created a branch #34 you can try it out for now and tell me what you think about it!

I am also working on an async option for typewritten, which should be in the next week or so

[2020-06-30 13:04] #31 closed

[2020-07-16 11:57] pfandzelter opened #35 "Git relative path showing root directory name twice when in Git root"
I have set `TYPEWRITTEN_GIT_RELATIVE_PATH=true` to always show me the name of the root Git directory. When I `cd` into a Git directory now, it sometimes shows the directory name twice instead of once. For example, `cd`-ing into my local clone of the typewritten repo shows this right prompt:

![https://i.imgur.com/jdOLImQ.png](https://i.imgur.com/jdOLImQ.png)

This isn't always the case, only in th

[2020-07-16 15:32] #35 closed

[2020-07-20 09:28] eleven4y opened #37 "Disable return error code in console"
How I can disable writes error code?
Is there a ready-made solution?

[2020-07-20 12:17] reobin commented on #37
Hi @eleven4y !

There is currently no option to disable the return code for now. It could easily be done by removing `$return_code` from:
[code]
If you want, go ahead and fork it for a quick fix.

A global option like `TYPEWRITTEN_DISABLE_RETURN_CODE=true` could be added to the code for this, though.
Care to explain what the use case for this is? I might add it, as it doesn't add bulk to the promp

[2020-07-20 12:33] Zalaxx commented on #37
It could be a useful option, since the color of the symbol might be enough for some people.

[2020-07-20 12:50] reobin commented on #37
@Zalaxx @eleven4y Fair enough! Would one of you want to go ahead and do it?

I'm thinking of an option called `TYPEWRITTEN_DISABLE_RETURN_CODE` to disable it.

Something along the lines of:
[code]
Similar to `$virtualenv`

[2020-07-20 20:17] eleven4y opened #39 "feat: Implement color option for all the prompt parts"
Add flag for select color of return code, may be from list available colors

I suggest leaving red by default and create list of supported colors

[2020-07-20 20:25] reobin commented on #39
I have thought about various options for colors, not just the return code.

Different colors could be chosen for everything (the blue symbol, the purple git status, etc.)

I have not worked on it yet, so I have yet to figure out a good readable way to do this.
I will have a go at it soon enough though!

[2020-07-20 20:29] eleven4y commented on #39
Good, may be i will think about it solution too

[2020-07-20 20:47] #37 closed

[2020-07-21 14:38] eleven4y opened #41 "bug: red prompt symbol after errors with TYPEWRITTEN_DISABLE_RETURN_CODE"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'terminal'
2. Enter a fake command, for example 'fake_command'
3. Press enter

**Actual behavior **
Color of prompt symbol is red.

**Expected behavior**
Color of prompt symbol the same, as on prev line.

**Screenshots**
<img width="585" alt="Screen Shot 2020-07-21 a

[2020-07-21 15:32] reobin commented on #41
I thought this was intentional!

But yeah, it would make sense to have the prompt 100% not affected by the return code if the return code display is disabled.

[2020-07-21 21:14] #41 closed

[2020-07-30 15:38] #39 closed

[2020-07-30 15:52] reobin commented on #39
Color options were implemented in [v1.2.0](https://github.com/reobin/typewritten/releases/tag/v.1.2.0).

See the docs on how to configure [here](https://github.com/reobin/typewritten/wiki/Prompt-color-customization)

[2020-08-04 14:24] zembrowski opened #45 "wiki: typo in installation for oh-my-zsh"
Hey there,

seems there's a typo in the installation [wiki](https://github.com/reobin/typewritten/wiki/Installation) for oh-my-zsh. Please consider changing:

`ls -s "$ZSH_CUSTOM/themes/typewritten/async.zsh" "$ZSH_CUSTOM/themes/async"`

to

`ln -s "$ZSH_CUSTOM/themes/typewritten/async.zsh" "$ZSH_CUSTOM/themes/async"`

[2020-08-04 14:29] reobin commented on #45
@zembrowski Good catch, thanks!

[2020-08-04 14:29] #45 closed

[2020-08-04 15:34] barischrooneyj opened #46 "24 bit colors"
**Is your feature request related to a problem? Please describe.**
I use a color theme for emacs and tmux, this theme is Dracula. I would like to set typewritten colors that match this theme.

**Describe the solution you'd like**
This would be possible if I could set any 24 bit color code instead of only one of the ANSI colors.

**Additional context**
The image below shows the colors I use with tm

[2020-08-04 15:51] reobin commented on #46
Hi @barischrooneyj !

Turns out this is definitely possible if your terminal supports true color.
It would technically be possible right now if the regex validating the `TYPEWRITTEN_COLORS` variable wasn't so restrictive.
I'll update this today so that you can create your theme.

Hex color codes will be supported like this:
[code]

I'm quite happy with how this one turned out, and gives me the ide

[2020-08-04 16:06] #46 closed

[2020-08-04 16:09] barischrooneyj opened #48 "Custom date/time format string"
**Is your feature request related to a problem? Please describe.**
The date format used in the US is different to that used in Europe, the default timestamp shown in the tmux status bar with typewritten uses the US date format (month before day).

**Describe the solution you'd like**
Allowing the user to set something like `export TYPEWRITTEN_DATE_FRMT=%d/%m/%Y, %H:%M:%S` to set a custom date/time

[2020-08-04 16:16] reobin commented on #46
I'm not normally that fast, but this was a quick fix.

`npm update -g typewritten` (or whatever you had it installed with) 😊

[2020-08-04 16:34] reobin commented on #48
This is a setting within tmux itself.

Something like this might help you: `set -g status-right "%d/%m/%Y, %H:%M:%S"`

[2020-08-04 16:34] #48 closed

[2020-08-04 21:33] reobin commented on #46
@barischrooneyj I just pushed a new version which will make it easier to create themes.

When you're up to date, add this variable to your `.zshrc` and you should have a nice dracula theme going on.
[code]

[2020-08-04 21:45] barischrooneyj commented on #48
Thank you for your prompt replies @reobin . I am having a little issue with this, if I set `set -g status-right "%a"` before `run '~/.tmux/plugins/tpm/tpm'` then the date format is not modified, however if I set after then typewritten's battery, RAM and CPU indicators get removed.

[2020-08-04 22:03] barischrooneyj commented on #46
@reobin this looks great! thank you very much!

Perhaps adding some information to the wiki about where the different color components (e.g. info_negative:#FF80BF) are used, would be useful.

Thanks again!

[2020-08-04 22:05] reobin commented on #46
I actually [just did that](https://github.com/reobin/typewritten/wiki/Prompt-color-customization)!

Not sure about the readability since there is quite a lot of info on that page. Might separate into sub-pages later.

[2020-08-14 07:53] oniGino opened #50 "Random async error message"
Not sure how to reproduce this it happens randomly it seems

[code]

[2020-08-14 11:36] reobin commented on #50
Hi @oniGino !

When you reload zsh, does the error go away?

You mention "random". How often do you open a session and the error is there?

What way did you use to install typewritten?

[2020-08-14 21:22] oniGino commented on #50
Yes reloading a new shell fixes the error, and if i have multiple shells  it only effects the one

[2020-08-14 21:23] oniGino commented on #50
I followed the manual install instructions

[2020-08-14 22:07] reobin commented on #50
Interesting 🤔

I'll reinstall it on my side using the manual instruction and see it that pops up.

[2020-08-14 22:10] reobin commented on #50
It seems that the async worker initialized at startup could not do it properly.

Maybe try to install it using `npm` or another way. I'll try to debug this this week.

Thanks for taking the time to file this bug request!

[2020-08-16 23:42] oniGino commented on #50
OK I think I found out how to trigger this, looks like something when I'm copy and pasting from my clipboard

I'm running sway in wayland and using konsole, however I was able to repeat this inside of visual studio code

[2020-08-17 01:37] oniGino commented on #50
was able to reproduce reliably just by `ls` on my .config directory This only works in visual studio code shell, but not reproducible in konsole with this method

[code]

[2020-08-17 01:38] oniGino commented on #50
here is my zshrc btw
[code]

[2020-08-17 01:48] reobin commented on #50
@oniGino Thanks for all the info! Will have a look tomorrow using your setup

[2020-08-17 12:53] frdrk commented on #50
Just letting you know that I'm getting this same error too. Clean install from a few days ago with oh-my-zsh. Happens consistently after a few minutes of normal terminal use.

[2020-08-17 12:58] reobin commented on #50
Thanks for letting me know @frdrk !

I have a fix in mind right now. I'm pretty sure it's related to [https://github.com/mafredri/zsh-async/issues/42](https://github.com/mafredri/zsh-async/issues/42).

I'm not able to reproduce the error, though. So it's pretty hard for me to debug.

If you would like to help, there is one comment that mentions that a temporary workaround would be to initialize th

[2020-08-17 16:04] frdrk commented on #50
Thanks @reobin !
Been running for a few hours now with no issues. It seem to have done the trick.

[2020-08-17 18:21] reobin commented on #50
@frdrk cool!

It's definitely not a viable fix to package in the theme, but I'm glad it worked for now.

What I'll end up doing is check for errors on the async callback function, and if there are any, reinitialize the worker.

I'll keep this open and work on it soon. I'll probably need some quick testing if you're up for it! I'll keep this issue up to date.

[2020-08-17 18:40] frdrk commented on #50
No worries. I'm no power user but I'll help out any way I can.

[2020-08-18 01:36] Ivan-Velickovic commented on #45
For me at least, the typo is still there when I visit the site.

[2020-08-18 11:25] reobin commented on #45
I have had an update in mind for typewritten.dev for a while but didn't quite have the time to do it. I'll at least update the content for now so that it's on par with the wiki.

Thanks @Ivan-Velickovic

[2020-08-18 11:31] reobin commented on #50
@frdrk I pushed to a branch called `fix/workers`.

If you could pull it and use it for a while, it would be greatly appreciated.

What's new is a check for return code in the callback function. When the return code is equal to some values, the workers are reinitialized and the async functions called again.

For now, when the workers die, a message about it is displayed, and they get reinitialize.

[2020-08-18 11:49] Ivan-Velickovic commented on #45
Ah no worries just thought I'd let you know in case you didn't know for some reason :))

[2020-08-19 05:22] huy-ha opened #53 "Color Mapping error"
After installation through npm, I'm getting this error
[code]
And the default prompt for zsh is used instead.

I've encountered this problem on two of my machines, both running Ubuntu 18.04.
[code]

[2020-08-19 12:11] reobin commented on #53
Hi @huy-ha !

Thanks for filing this bug report.

Has it worked before, or is it the first time you install typewritten? I'll try a clean install this morning on ubuntu and search for errors.

Cheers!

[2020-08-19 13:17] reobin commented on #53
I have tried a couple of times with a fresh ubuntu container, and it seems to work well once typewritten is installed. I couldn't reproduce the error.

Could you share your `.zshrc`?

[2020-08-19 13:43] reobin commented on #53
Also, did you notice any errors related to the symlinks, etc. during the installation through npm ?

[2020-08-19 22:59] huy-ha commented on #53
So I actually got it working on 2 of my machines, but not the other 3 (I just tried on another one) with the same zshrc. They are all running Ubuntu 18.04.
[code]
On the machine I created this issue on, there were permission errors when I first tried doing npm install (installed with zsh's nvm), so I used sudo [path to npm] install -g typewritten.  I've also tried the manual installation and oh-my

[2020-08-19 23:01] huy-ha commented on #53
On both of the machines I got it to work, npm did not work for me and I ended up installing it using [oh-my-zsh instructions](https://typewritten.dev/#/installation?id=oh-my-zsh) on the docs.

[2020-08-19 23:04] reobin commented on #53
Thanks a lot @huy-ha

I also had some trouble installing it on linux with npm. A lot of the issues had to do with permission during the symlinks creation.

I'll close this for now, but I'll keep an eye open for more issues like this one. Maybe the npm install script can be improved but there is a lot of limitations (and rightly so) to what you can do with the npm preinstall script.

[2020-08-19 23:04] #53 closed

[2020-08-19 23:13] huy-ha commented on #53
Ah wait sorry let me clarify, on the 5 machines, I tried 2 works, and 3 don't. On the 3 that don't I've already tried npm installation, manual installation and oh-my-zsh installation, but none of them worked :(

[2020-08-19 23:23] reobin commented on #53
@huy-ha I tried using your `.zshrc` and got it running no problem. I'm not on Linux, though.

I'll try the manual install on a docker ubuntu image to see if anything pops up.

[2020-08-19 23:38] reobin commented on #53
I got it working flawlessly with a clean docker ubuntu image.

Dockerfile:
[code]

1. mkdir -p "$HOME/.zsh"
2. git clone https://github.com/reobin/typewritten.git "$HOME/.zsh/typewritten"
3. Add following lines to `.zshrc`:
[code]

It is a super lean setup, nothing else than typewritten and zsh installed, pretty much. We need to find what is it about your setup that doesn't like typewritten 🤔

[2020-08-20 03:36] huy-ha commented on #53
I'll keep digging and I'll lyk if I find anything!

[2020-08-23 18:06] #50 closed

[2020-08-24 17:39] groovitz opened #57 "What is the font file I need to download to make that symbol, whatever it is called, show properly?"
Can you tell me what font family i will need to make it show the proper symbol?

[2020-08-24 18:38] reobin commented on #57
What symbol are you talking about?

The font that is used in the demo is [JetBrains Mono](https://www.jetbrains.com/lp/mono/), and most importantly, font ligatures are turned on.

[2020-08-25 05:01] groovitz commented on #57
❯ This one. I use JetBrains Mono too. But instead of showing that angled bracket, my prompt just shows an empty rectangle.

[2020-08-25 15:37] ben100691 commented on #57
Same issue here, rxvt-unicode with Ubuntu Sans. Everything renders perfectly except for the TYPEWRITTEN_SYMBOL which shows as an empty rectangle

[2020-08-25 16:09] reobin commented on #57
Are you able to simply paste the symbol and have it shown in the terminal? `❯`
If not, might want to look at how to display such characters in rxvt... I'll take a look myself later today.

In the worst case, you could always change the symbol like this:
[code]

[2020-08-25 16:36] groovitz commented on #57
That symbol isn't showing in urxvt when I copy paste it. :(

[2020-08-25 22:54] reobin commented on #57
Anything new? I had no trouble on Ubuntu. I might have to try an Archlinux distro specifically.

[2020-08-26 02:32] groovitz commented on #57
I changed my terminal emulator to alacritty and it works now. I read on forums that urxvt has problems with images and glyphs. So I just changed my emulator.

[2020-08-26 02:32] #57 closed

[2020-08-27 12:11] reobin commented on #2
@all-contributors please add @mrillusi0n for idea

[2020-08-27 12:16] reobin commented on #10
@all-contributors please add @tdeekens for ideas

[2020-08-27 12:18] reobin commented on #10
@all-contributors please add tdeekens for ideas

[2020-08-27 12:19] reobin commented on #13
@all-contributors please add @xenoterracide for ideas

[2020-08-27 12:25] reobin commented on #45
@all-contributors please add @zembrowski for doc

[2020-08-27 12:26] reobin commented on #45
@all-contributors please add @Ivan-Velickovic for doc

[2020-08-27 12:27] reobin commented on #46
@all-contributors please add @barischrooneyj for ideas

[2020-08-27 12:28] reobin commented on #50
@all-contributors please add @oniGino for bug

[2020-08-27 12:28] reobin commented on #50
@all-contributors please add @frdrk for bug

[2020-08-27 12:32] reobin commented on #53
@all-contributors please add @huy-ha for bug, and userTesting

[2020-09-15 08:13] louisdecharson opened #77 "Prompt has 4 duplicated lines"
**Describe the bug**
After installing typewritten, I have a prompt of 4 duplicated lines instead of one (see screenshot below).

**To Reproduce**
Steps to reproduce the behavior:
1. Install the theme using instructions [here](https://typewritten.dev/#/installation?id=oh-my-zsh) for oh-my-zsh.
2. Add `ZSH_THEME="typewritten/typewritten"` to `~/.zshrc`
3. Open a new iTerm2 window
4. See error

**Exp

[2020-09-15 10:09] reobin commented on #77
Hi @louisdecharson ! Thanks for the report.

Can you tell me more about the failed npm install? Is there any error message while it's installing?

Also, can I take a peak at your zshrc?

[2020-09-15 11:26] louisdecharson commented on #77
Hello @reobin !
Thank for your swift feedback.
Actually it has not failed, it was just not working. There was no error message.
My  `~/.zshrc`:
[code]

[2020-09-15 11:37] louisdecharson commented on #77
Found the issue !! :)
It was because of `export code="/Users/louis_de_charsonville/code"`

[2020-09-15 12:07] reobin commented on #77
Glad to hear it!

It is weird indeed. What does `code` do? curious.

Could you try to source `$ZSH/oh-my-zsh.sh` at the very end of your file? zsh might be reassigning things triggering a prompt refresh.

[2020-09-15 12:25] louisdecharson commented on #77
Nothing, it's just a repository with code and the variable `$code` is pointing to the repository.
Putting source at then end does not solve the issue :/.

[2020-09-15 12:40] reobin commented on #77
Not sure about the reasons, but I was able to reproduce it using the exact same variable pointing a directory of mine.

Definitely looks like a bug now, so I'll reopen this. I'll work on it later today

[2020-09-15 12:49] reobin commented on #77
I found it.

I recently added the `tw_` prefix to all variables to avoid conflicting with the variables of other programs, or simply the user config variables. When there are conflicts, stuff like this (your bug) happens.

I had a variable named `code` representing the return code of an async job. When the return code is defined, it means that something happened to the async worker, and it needs t

[2020-09-15 13:16] #77 closed

[2020-09-17 22:43] yangfanx opened #80 "How to setup like the demo"
Sorry, if this is not the right place to ask.

I am setting up a new laptop. Found this amazing zsh theme.

But after I install iTerm, oh-my-zsh and typewritten, the iTerm zsh theme is still the default theme.

Is there further instructions to setup like the demo in https://typewritten.dev/#/.

Thanks!

[2020-09-17 23:07] reobin commented on #80
Hi @yangfanx !

Is typewritten set as your zsh theme in your `.zshrc` file? If so, did you reload `zsh`?

[2020-09-17 23:44] #80 closed

[2020-09-17 23:44] yangfanx commented on #80
I found a useful setup. Issue is closed. Thanks!

[2020-09-19 21:22] crepppy opened #81 "TYPEWRITTEN_DISABLE_RETURN_CODE still shows error"
**Describe the bug**
When setting the `TYPEWRITTEN_DISABLE_RETURN_CODE` to true in the `.zshrc` config, the error code of the last command still appears before the prompt

The error seems to be in the commit 31163076e2d5251e7b19e13786ad3ddf3da32afa as the variable names were refactored (presumably with a regex) which caused the variable to change name (`TYPEWRITTEN_DISABLEtw_RETURN_CODE`). Even wh

[2020-09-19 22:29] crepppy commented on #81
#82

[2020-09-20 00:09] reobin commented on #81
Hi @crepppy !

Thanks for the PR. 🎉

Pretty embarrassing lack of QA on my part 😅
I'll do a quick test with typewritten as a zsh prompt, but you are right that it should be the same.

[2020-09-20 00:52] reobin commented on #81
Fixed by #82

[2020-09-20 00:52] #81 closed

[2020-10-12 22:09] Ivykp opened #89 "Theme is not loading customizations"
**Describe the bug**
I have installed Typewritten as **oh-my-zsh** theme following the instructions in the documentations.
Currently i have the next exported variables on my `.zshrc` file:
[code]
When my terminal starts, it loads all the variables correctly (i checked their values using `echo $TYPEWRITTEN_SYMBOL` and `echo TYPEWRITTEN_RIGHT_PROMPT_PREFIX` ). However the theme is not loading these

[2020-10-13 00:59] reobin commented on #89
Hi @Ivykp !

Thanks for the report. `oh-my-zsh` or some other component of your `zsh` setup might be overriding some of your `typewritten` config 🤔. Mind if I take a look at your `.zshrc`?

I just tried on my own setup just to make sure it's working, and it seems fine. Let's debug this :)

[2020-10-13 01:15] Ivykp commented on #89
Thanks a lot @reobin for the help, of course i will paste below my `.zshrc`
[code]

Again just in case, i installed it following the instructions as an oh-my-zsh theme.

[2020-10-13 15:52] reobin commented on #89
Hey @Ivykp ! Good news 🌞

Turns out it is an easy fix. Since you are using the `oh-my-zsh` version, the theme is loaded at the moment `oh-my-zsh` is loaded. That moment is where the `oh-my-zsh` directory is sourced.

Since the typewritten variables are defined _after_ `oh-my-zsh` is sourced, they are not taken into account. If you source `.zshrc` again, then the variables are defined by the previo

[2020-10-13 16:10] Ivykp commented on #89
Thanks a lot @reobin, i can confirm you are absolutely right and it is working perfectly.
Have a nice day you as well!

[2020-10-13 16:13] #89 closed

[2020-11-01 17:03] aaroncaito opened #92 "Async not providing git info"
**Describe the bug**
Followed ZSH install instructions, configuration and other items work, git status is not displayed. It's tough to troubleshoot async behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow install instructions
2. Open terminal with iterm2 on osx
3. no git output

**Expected behavior**
Expect the git status to be displayed

**Screenshots**
![Screen Shot 2020-11-0

[2020-11-01 18:59] reobin commented on #92
Hey @aaroncaito ! Thanks for the report

There doesn't seem to be anything wrong with your configuration from what I can see.

Some things I would check are:
- What does `git symbolic-ref --short -q HEAD` display when you run it in the repo? That's what typewritten uses to display the branch, for example.
- What's the content of `$ZSH/custom/themes/`? Are both `async` and `typewritten.zsh-theme` p

[2020-11-02 06:33] gartunius opened #93 "Overwriting lines of the previous output"
**Description:**
When using the "pure" prompt layout, sometimes when the command finishes to run, the prompt is placed some lines up from where it should have been placed, causing the previous output to be replaced.

**To Reproduce:**
1.Just do a normal 'oh.my.zsh' installation
2.Install 'typewritten' using the 'oh my zsh' instructions
3.Change the prompt to 'pure' using the command: `export TYPEW

[2020-11-02 12:36] reobin commented on #93
Hey @gartunius ! Thank you so much for this issue.

I noticed it yesterday while debugging another issue. I will check it out as soon as possible.

For now, what I know is that it happens when the prompt is reset after the async callback. There might be another way to define the break lines so that it doesn't break when the prompt is reset.

[2020-11-06 15:28] reobin commented on #93
Hey @gartunius ! I'm pretty confident #94 fixes the issue, but your feedback will confirm it to me, so if you have a chance to pull the new chances and check it out, it would be very appreciated 🙏\

I will then release the new version to npm.

Thank you again for the report, have a good one!

[2020-11-06 15:29] reobin commented on #93
@all-contributors please add @gartunius for bug

[2020-11-08 10:08] gartunius commented on #93
I tried reinstalling the prompt several times, through the 'oh my zsh'(also tried to reinstall 'oh my zsh') method, and the issue still happens, I also tried reinstalling on my other Ubuntu machine, and the issue still keeps happening. And just to be 100% sure, I also installed on a clean Arch VM, and tested on a Ubuntu Live CD with 'oh my zsh', and the issue still happend. Btw should I do the ins

[2020-11-08 13:38] reobin commented on #93
That's interesting, I had the same issue and that solved it for me.

I'll try again using Ubuntu (I'm on macOS) and specifically ohmyzsh.

Which version of zsh and ohmyzsh are you using? I'll do my best.

[2020-11-08 14:12] gartunius commented on #93
My zsh version is: zsh 5.8, and I updated 'oh my zsh' on my machines when testing today, so it's the latest.

[2020-11-08 19:52] gartunius commented on #93
So I was searching a bit about this problem to see if I could find anything to help, and I came across this [Stack Exchange question](https://unix.stackexchange.com/questions/517025/zsh-clear-scrollback-buffer), which seems to be more or less related to the problem here (also in there the person who answered also linked to a [problem like this one](https://github.com/denysdovhan/spaceship-prompt/i

[2020-11-08 20:01] reobin commented on #93
Thanks for doing the research @gartunius ! Really appreciate it.

I have also found a bunch of related issues, but nothing clear on what a fix would be.

I find it curious that `reset-prompt` and `.reset-prompt` act differently on my machine, and one works better than the other, but oh well it doesn't seem to be the case on Linux.

Let me know how it goes with the `-R` flag! I'll try it too.

[2020-11-08 23:28] gartunius commented on #93
I tested on my Arch and Ubuntu machines, as well on a Ubuntu LiveUsb, and the `-R` flag apparently solved the problem, I also tested on the single line layouts to make sure that they still work, and there was no problem.

About the `reset-prompt` and `.reset-prompt`, I tested the `-R` flag with both of them and there was no difference.

By the way, probably doesn't matter, but just in case, the wa

[2020-11-09 00:53] reobin commented on #93
Thank you so much @gartunius !

I'll test it out tomorrow and deploy a fix if everything works on macOS as well

[2020-11-09 14:34] reobin commented on #93
Looks all good on my end as well. Do you want to open the PR @gartunius ?

I can also do it, but I'd like to give you credit for it :)

[2020-11-09 16:45] gartunius commented on #93
Thanks, It's my first time opening a pull request, so if there's anything wrong sorry, I'll try to fix it, but if I take too long or something, then you can just do it.

[2020-11-09 17:16] #93 closed

[2020-11-22 16:47] Scupake opened #98 "Showing path relative to home instead of just dir name."
**Is your feature request related to a problem? Please describe**:
I have lots of dirs that have similar/same name and it sometimes gets confusing.

**Describe the solution you'd like**:
An option to show the entire path relative to ```~``` unless you're in a git repository.

[2020-11-23 12:55] reobin commented on #98
Hey @Scupake !

Thanks for this feature request! It's a good idea. We could add a flag for this feature, and a flag for showing the full path at all times.

I'll try out some implementations this week!

[2020-11-23 14:38] Scupake commented on #98
Thanks!

[2020-11-27 15:13] reobin commented on #98
Hey @Scupake !

#99 is opened

I hope that's what you were looking for! I personally really like the `adaptive` option, so thanks for the feature request! Many will benefit from it 🌞

If you're up to it, you can test it out. I'll spend the day working with that branch active, and merge it at the end of the day if everything went well.

Cheers!

[2020-11-27 16:44] reobin commented on #92
Hello @aaroncaito! Are you still having the problem? Or have you given up?

The issue I mentioned above is fixed, but for this one, without more context, there is very few things I can do.

Thanks!

[2020-11-27 19:28] Scupake commented on #98
Yeah, it's exactly what I wanted.
Thanks again!

[2020-11-28 00:24] #98 closed

[2020-11-28 00:24] reobin commented on #98
@dependabot please add @Scupake for idea and test

[2020-11-28 00:25] reobin commented on #98
@all-contributors please add @Scupake for idea and test

[2020-12-03 14:50] mosheavni opened #101 "Can we add kubernetes integration?"
**Is your feature request related to a problem? Please describe.**
No, just a feature to display the kubernetes cluster I'm in  + the namespace

**Describe the solution you'd like**
To display the kubernetes cluster I'm in  + the namespace

**Describe alternatives you've considered**
If it would be possible to add my custom functions that could also work.

[2020-12-04 16:04] reobin commented on #101
Hey @Moshem123 !

What would your function look like?

I really like the option of letting a user add a prefix to the left prompt that could be a function or simply text, so we might go with that.

[2020-12-06 10:32] Moshem123 commented on #101
Here's what I want to add:
https://github.com/jonmosco/kube-ps1

[2020-12-09 14:22] #92 closed

[2020-12-16 15:32] mushmelty opened #102 "Unable to disable blinking cursor when using iTerm2"
**Describe the bug**
After installation (using method `npm install -g typewritten`), the cursor blinks despite the iTerm2 setting having blinking cursor disabled. Turning on blinking cursor then turning it off immediately again will give the desired outcome, but the cursor will begin blinking again after any commands are entered.

I've noticed that after entering a command, there is a slight pause

[2020-12-16 16:54] reobin commented on #102
Hey @mushmelty !

Good catch, thanks for the bug report.

Since typewritten takes over the user's cursor configuration by default, we need to find a way to take into account the setting for blinking too.

For now, you can fix it for your setup by doing the following:

1. Set your iterm2's cursor to `underline` and turn off blinking
2. Add `export TYPEWRITTEN_CURSOR="terminal"` to your `~/.zshrc` t

[2020-12-17 04:54] mushmelty commented on #102
Followed your instructions exactly, and now typewritten is working as expected (no blinking cursor and looking amazing).

One thing I noticed in my `.zshrc` file is that the npm install placed typewritten configuration `# Set typewritten ZSH as a prompt` below the line for `source $ZSH/oh-my-zsh.sh`, and I added my `export TYPEWRITTEN_SYMBOL` and `export TYPEWRITTEN_CURSOR` below the typewritten c

[2020-12-17 04:54] #102 closed

[2020-12-28 15:17] mxarcher opened #103 "Support vi-mode"
**Is your feature request related to a problem? Please describe.**
when i set `set -o vi` in my zshrc, i could use the vi-mode but typewritten didn't show some feedback

**Describe the solution you'd like**
just give some feedback to let me know i have entered.

**Additional context**
typewritten is very nice, thanks for your work.

[2020-12-28 21:09] mdilena opened #104 "Can't set colors with environment variable"
**Describe the bug**
Setting custom colors via environment variables `TYPEWRITTEN_COLOR_MAPPINGS` and `TYPEWRITTEN_COLORS` doesn't seem to work for me, either when setting them on the fly or putting them into `~/.zshrc`.

**Desktop (please complete the following information):**
 - OS: Ubuntu Studio 20.04 (xfce)
 - xfce4-terminal

[2020-12-29 01:09] reobin commented on #103
Hey @mxarcher !

Thanks for the issue!

I'll have to check out vi mode to get a grasp of what would be missing! Could you give me examples of what kind of feedback you are expecting?

[2020-12-29 01:10] reobin commented on #104
Hey @mdilena !

Thanks for the issue!

Can I take a peak at your .zshrc? I'll try out your config on my machine.

[2020-12-29 07:09] mxarcher commented on #103
@reobin
I used to use powerlevel10k, it may give some help.
Just like when I enter the normal mode, show some symbols at right or left. For example, text like "NORMAL". But I don't know whether this change would fit the style of typewritten.
Or you can change the shape of cursor from underline to others like block.
Hope this will help you.

[2020-12-29 12:47] mdilena commented on #104
Hi @reobin , sure here's the content, it's pretty simple at the moment! I forgot to mention that I'm installing through `oh-my-zsh` into `$ZSH_CUSTOM`
[code]
I tried with and without symlinks, as explained in the guide, just to see if there was any issue with `$TYPEWRITTEN_ROOT` not finding the correct path to subfolders, but no luck.

[2020-12-31 08:02] xenoterracide opened #105 "document zinit install"
So I wrote this, and I think it's right, but I'm not entirely certain

[code]
The [zinit docs](http://zdharma.org/zinit/wiki/INTRODUCTION/#turbo-load) say

hoping you can clarify if I'm doing the right thing.

[2021-02-11 00:50] gabrielzschmitz commented on #104
Actually I'm having the same problem, but more strange than just don't working, it don't work when I first open the terminal, but if i source .zshrc it works.

[2021-02-15 19:51] CrystalJewell commented on #104
@gabrielzschmitz I had this issue too, I had to move my customizations to before `source $ZSH/oh-my-zsh.sh`. It works fine now

<img width="847" alt="Screen Shot 2021-02-15 at 2 47 35 PM" src="https://user-images.githubusercontent.com/21298255/107987923-ee635280-6f9c-11eb-93ef-2663be2494ac.png">

[2021-02-15 19:56] CrystalJewell commented on #104
Though I have noticed that `TYPEWRITTEN_RELATIVE_PATH="off"` doesn't work.  While not directly related to colors, it is an ENV variable.
To get around it I've just forked the repo and created a layout exactly how I wanted then pulled that into my custom themes for oh-my-zsh.  Not ideal but it works.

[2021-02-15 20:06] reobin commented on #104
@gabrielzschmitz @mdilena

Sorry for the delay! I have been very busy with my personal life.

@CrystalJewell Thank you for mentioning sourcing oh-my-zsh _after_ anything related to the zsh prompt. That's expected for any zsh prompts. @gabrielzschmitz can you confirm if that works for you? If you have moved on, I'll close the issue, thanks for creating it!

As for the `TYPEWRITTEN_RELATIVE_PATH="of

[2021-02-15 20:08] reobin opened #106 "bug: Disabling relative path does not work"
As mentioned in #104, there seems to be a problem with the `TYPEWRITTEN_RELATIVE_PATH` option.

[2021-02-15 20:08] reobin commented on #106
Hi @CrystalJewell! can you help me feed this issue with more information?

[2021-02-15 20:09] reobin commented on #105
Hi @xenoterracide !

Sorry for taking so long, I have been busy with personal stuff. I am not quite getting what this issue is about. Could you give me more info?

[2021-02-16 05:26] xenoterracide commented on #105
hah, I think it was just a question, I believe I've long solved it.

[2021-02-16 05:26] #105 closed

[2021-02-19 17:04] CrystalJewell commented on #106
@reobin Sorry I have been crazy busy this week.  I'm circling back to this today.  I'll get screenshots and detail what I'm seeing ASAP.  The TL:DR is that it appears that `TYPEWRITTEN_RELATIVE_PATH="off"` is hitting `TYPEWRITTEN_RELATIVE_PATH="home"` instead.

[2021-02-19 19:24] CrystalJewell commented on #106
It appears that `pure` is ignoring the `TYPEWRITTEN_RELATIVE_PATH` variable altogether.

<details>
<summary>TYPEWRITTEN_PROMPT_LAYOUT="pure"</summary>
<br>
<details>
<summary>No Relative path export</summary>

<img width="1220" alt="Screen Shot 2021-02-19 at 1 51 14 PM" src="https://user-images.githubusercontent.com/21298255/108549862-bf5e2100-72bb-11eb-928c-7b2b58f51a2e.png">

</details>

<detail

[2021-02-19 19:51] reobin commented on #106
Thank you for the updates @CrystalJewell !

That was a design decision, actually. Sorry for the confusion! The original Pure prompt displays the whole path that is relative to home. Since the `pure` layout of typewritten is inspired by the original Pure, I made it ignore `TYPEWRITTEN_RELATIVE_PATH` variable.

Now that I think about it, there is no reason for it to do that. It would be a nice and e

[2021-02-19 19:51] #106 closed

[2021-02-19 19:52] reobin opened #107 "feat: Support git relative path on pure layout"
**Is your feature request related to a problem? Please describe.**
Relates to #106

**Describe the solution you'd like**
The `pure` layout should take into account the `TYPEWRITTEN_RELATIVE_PATH` variable value, and display the path depending on that value.

[2021-02-23 17:05] #107 closed

[2021-04-13 08:02] derNonus opened #110 "Cursor changes after open vim"
## Description
When I open my Terminal the cursor is a underline, when I now open vim and quit it the cursor is a block

## Information
 - OS: Artix
 - Terminal: Termite
 - Shell: Zsh

[.zshrc](https://gist.github.com/derNonus/ed50cfa152b2fcdb7ac1a91f6afd6d2f#file-zshrc)
[Termite Config](https://gist.github.com/derNonus/ed50cfa152b2fcdb7ac1a91f6afd6d2f#file-config)

## Screenshots
### Before

![Sc

[2021-04-21 16:10] reobin commented on #110
Hi @derNonus !

Could you show me your `~/.zshrc`? There is a fix in place for the cursor when quitting vim. That's a problem with zsh.

The only way the fix would not be applied, theoretically, is if you use `export TYPEWRITTEN_CURSOR="terminal"`.

With that said, bugs do exist 😅 let's see your `~/.zshrc` and we'll dig it out

[2021-04-21 16:13] derNonus commented on #110
I've already linked my ~/.zshrc but here again:
`# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="/home/user/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was load

[2021-04-21 16:29] reobin commented on #110
sorry about that I missed it!

Ok so the problematic line is this one:
[code]

This tells typewritten to not handle the cursor at all, and let the terminal do everything in that regard.

There's an issue with using vim and zsh, and it's exactly the one you described. There is a fix for it, and I embedded it directly in the typewritten prompt. For typewritten to use it though, you need to set `TYPE

[2021-04-21 16:40] derNonus commented on #110
Thanks it's working now

[2021-04-21 17:06] reobin commented on #110
thanks for the issue @derNonus !

[2021-04-21 17:06] #110 closed

[2021-04-30 02:11] kitallen23 commented on #103
@reobin Any word on this? I'd be really keen to get the vi-mode indicator working with typewritten.

For info on vi-mode's indicator, see [here](https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/vi-mode#mode-indicator).

[2021-05-03 01:44] kitallen23 commented on #103
@reobin Thanks for getting back to me. I'll try and take a crack at opening a PR sometime soon.

Love your work on this project by the way, such a nice prompt :)

[2021-05-03 11:57] #104 closed

[2021-06-13 15:25] juanCortelezzi opened #111 "npm install script not working correctly"
**Describe the bug**
When installing via npm, `typewritten.zsh` and `async.zsh` were not symlinked to `/usr/local/share/zsh/site-functions` the directory did not exist.
It also created a new .zshrc on my `$HOME` directory, instead of my `$ZDOTDIR` directory.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install -g typewritten`

**Expected behavior**
The script should symlynk the corre

[2021-06-13 20:07] reobin commented on #111
Hi @juanCortelezzi !

Thank you for detailing this issue. It's indeed an oversight that should be fixed promptly. Respecting the user's preferences is important when running installation scripts like these ones. If you'd like to contribute to modifying the install script, let me know and I'll gladly help out. Otherwise, I'll work on a solution no worries :).

As for the async.zsh file, it's only r

[2021-06-29 05:45] ashincoder opened #113 "Doesn't show git stat in a repo direcotory"
**Describe the bug**
Doesn't show any git stat if in a git repo direcotory. The prompt works though

**To Reproduce**
Steps to reproduce the behavior:
I installed echoed $fpath and all. The prompt works.

**Expected behavior**
To show the git status if in the git repo direcotory

**Screenshot**
![error](https://user-images.githubusercontent.com/83629316/123743679-34291380-d8cb-11eb-9c10-b39621e5b5

[2021-06-29 20:49] #111 closed

[2021-07-05 01:34] #113 closed

[2021-07-30 14:39] jeevatattva opened #115 "Terminal rendered dummy with noclobber set"
**Describe the bug**
I using `zimfw`, which has `NOCLOBBER` set. After installation, when restart shell, I get a warning,

`async_start_worker:38: can't clobber parameter errfd containing file descriptor 0`

Thereafter, unable to use the terminal with various editors.

OS: macOS Catalina 10.15.7
ZSH_VERSION: 5.7.1
ZIMFW: 1.4.3

**To Reproduce**
Steps to reproduce the behavior:
1. `set -o noclobber

[2021-08-02 14:59] reobin commented on #115
Hey @jeevatattva !

Thank you so much for opening this issue and suggesting a solution

I opened a PR #116 in which I upgraded async.zsh to 1.8.5. Would you test that on your machine to make sure it works?

If you're not sure how to install locally the PR's version, an easy way to do it is with `npm`:

1. Clone the repository
2. Checkout the `build/update-async-zsh` branch
3. Run `npm install -g .

[2021-08-02 15:21] jeevatattva commented on #115
Removed the theme, installed through `zim`, followed your instructions to set it up again. Now, after restarting the terminal, it is fully functional.

[2021-08-03 13:54] reobin commented on #115
Awesome @jeevatattva thank you for your help 🎉

@all-contributors please add @jeevatattva for bug and idea

[2021-08-03 13:54] #115 closed

[2021-08-08 03:13] Hello-Helo opened #118 "Visual bug when using completion"
**Describe the bug**
When using tab completion on commands like `cd` when there is 2 options or more, there is a visual bug so that the command shows like `cdcd`. This happens with other commands as well, `mkdir` becomes `mkmkdir`. The command run as normal.
Since i don't a plugin manager for zsh, i could quickly comment lines of all the other features (like syntax highligh) and verify that this o

[2021-08-10 07:12] spamwax opened #119 "putting PROMPT and RPROMPT close to each other"
I am on a wide screen and tend to make my terminal cover about 80% of it.
I was wondering if I could change setting in order to show RPROMPT (mainly git information) close to the (left)PROMPT

This obviously will only work with `multiline` setting

[2021-08-19 21:56] reobin commented on #119
Hi @spamwax ! thank you for opening this issue

Can you tell me a bit more about your problem?

Personally, whenever I'm on a bigger screen, I like to use the `pure` layout. Using it is documented [here](https://typewritten.dev/#/prompt_customization?id=typewritten_prompt_layout)

Would that cover your use case? Feel free to detail a bit more if I misunerstood

[2021-08-19 22:01] reobin commented on #118
Hi @Hello-Helo ! Thank you for opening this issue.

I'm unable to reproduce the problem on macOS. I'll work on reproducing using an environment closer to yours.

[2021-08-20 06:19] spamwax commented on #119
Thanks for the info, I think what I was after is a combination of `pure` and `multiline`.
I was trying to see something like:
[code]

[2021-08-27 05:12] avishekdutta531 opened #120 "Can't Change Typewritten Symbol"
![Screenshot from 2021-08-27 11-11-05](https://user-images.githubusercontent.com/74361331/131075230-e698204f-2c6e-4dfc-a3f0-c14e7f6193d7.png)

I can't change the symbol

[2021-10-21 22:14] reobin commented on #120
Hi @avishekdutta531 !

I'm so sorry for this delay. I've been very busy with personal stuff.

Thank you for reaching out. Is this still a problem for you?

If so, try to define the `TYPEWRITTEN_` variables _before_ the `fpath`, `autoload`, and `prompt` lines

[2021-11-25 00:56] Hello-Helo commented on #118
Hello again! It has been a while and this bug stopped happening. Maybe some conflict caused it, but now there is no way to know. Thank you for the attention!

[2021-11-29 12:26] #118 closed

[2021-11-29 12:59] reobin commented on #118
Thank you for the update @Hello-Helo !

[2022-01-09 20:26] #120 closed

[2022-02-14 10:58] always4113 opened #129 "How to uninstall typewritten?"
**Uninstall typewritten**

I don't know how to uninstall this.
please help me..!!
I want to delete it completely, not just deactivate it. 🤔

[2022-02-15 13:17] reobin commented on #129
Hi @always4113 ! May I ask how you installed it?

[2022-02-16 05:27] always4113 commented on #129
I used npm to install it :)

[2022-02-16 23:29] Austin-Ray opened #130 "`pure_verbose` layout does not show full path when `TYPEWRITTEN_RELATIVE_PATH` is unset"
**Describe the bug**

When `TYPEWRITTEN_RELATIVE_PATH` is unset, `pure_verbose` layout doesn't show the full path. The `pure` layout does by default. As it's a variant of `pure`, I expected the same default behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Unset `TYPEWRITTEN_RELATIVE_PATH`
2. Set `TYPEWRITTEN_PROMPT_LAYOUT` equal to `pure_verbose`

**Expected behavior**

Display full

[2022-02-16 23:44] Austin-Ray opened #132 "CONTRIBUTING.md contains link to inactive wiki"
As the wiki is no longer active, the link in `CONTRIBUTING.md` goes nowhere. To read the contributing instructions, one must clone the wiki repo.

[2022-02-17 15:44] #130 closed

[2022-02-18 20:46] bound-variable opened #135 "npm install does not write to .zshrc on Linux"
**Describe the bug**
Following the `npm` installation, no changes are made to `.zshrc`.

**To Reproduce**
1. Run `npm install -g typewritten`
2. Check `.zshrc`

**Expected behavior**
Changes to `.zshrc`

**Desktop (please complete the following information):**
 - OS: Arch
 - Browser [qutebrowser]
 - Version [1.4.6]

**Additional context**
My `zsh` folder abides by [XDG](https://specifications.free

[2022-02-19 16:36] reobin commented on #135
Hi @Pound-Hash ! Thank you for bringing up this issue.

Do you have any error message during the npm installation?

Here are the lines of code trying to insert to your .zshrc:
[code]

It should either print "Done!" or the error message

[2022-02-20 01:15] Pound-Hash commented on #135
I don't.

Here's the output:
[code]

[2022-02-25 01:22] reobin commented on #135
Thank you @Pound-Hash for the details. I'll have a look whenever I have time to reproduce it.

@all-contributors please add @Pound-Hash for bugs

[2022-02-25 01:23] reobin commented on #129
Were you able to uninstall the prompt, @always4113 ? If so, do close the issue. Thanks!

[2022-03-20 00:28] c-fitzmaurice opened #137 "Typewritten or Oh-my-zsh?"
Hey all, thanks for a fantastic prompt, just trying to track something down.

When I misspell a command, the prompt displays `127` before the caret...is this coming from Typewritten or should I be looking elsewhere in my config?

Thanks!

<img width="216" alt="image" src="https://user-images.githubusercontent.com/3401771/159142959-ab5e6cae-5a45-4d86-89c5-2fa12b4c336c.png">

[2022-03-20 00:29] #137 closed

[2022-03-20 15:59] reobin commented on #137
Hey @c-fitzmaurice !

Just in case you didn't find your answer. That's the return code coming from `zsh` when a command fails. Its purpose is to identify the error that occured in the last command.

`typewritten` displays the return code only when the last command is not succesful (return code = 0)

To disable that display, add the followint config in your `.zshrc`:

[code]

[2022-03-21 04:35] c-fitzmaurice commented on #137
Yes! Thanks I found that just after I opened the comment. Appreciate it!

[2022-03-27 03:29] jvzaniolo opened #138 "Unable to use theme with antigen"
**Describe the bug**
When trying to install the theme with `antigen` I get the following error

**To Reproduce**
Steps to reproduce the behavior:
1. Install antigen
1. Go to '.zsrc' file
2. Add the following `antigen theme reobin/typewritten`
3. It doesn't work with `antigen bundle reobin/typewritten` either
4. Open a new Terminal tab/window
5. See error

**Screenshots**
![CleanShot 2022-03-27 at

[2022-03-27 03:37] jvzaniolo commented on #138
Apparently, antigen doesn't load plugins without a `master` branch.
So installing it like `antigen theme reobin/typewritten@main` worked

[2022-03-27 03:37] #138 closed

[2022-04-24 05:54] nuuwy0 opened #142 "reload not found: typewritten.zsh"
Hello, I found kinda bug or error
(install by git clone)
![gaggg](https://user-images.githubusercontent.com/69439251/164958672-e988a15b-148f-49a2-8786-22f4c621ca8b.PNG)
altought im check on "Typewritten.zsh-theme"
![afaaf](https://user-images.githubusercontent.com/69439251/164958714-e4acd72e-811b-49b1-9335-875edfa69afb.PNG)

[2022-06-30 12:52] CrisDgrnu opened #145 "TYPEWRITTEN_SYMBOL and TYPEWRITTEN_ARROW_SYMBOL are not working."
**Describe the bug**
TYPEWRITTEN_SYMBOL and TYPEWRITTEN_ARROW_SYMBOL are not working. I'm trying to change the default icons, but the properties don't seem to work.

**To Reproduce**
1. Install the theme (using zsh and oh-my-zsh on ubuntu with gnome-terminal)
2.  Add these lines to the end of.zshrc
[code]
3. Close and open the terminal

**Expected behavior**
The icons should be changed

**Desktop

[2022-06-30 16:50] reobin commented on #145
Hello @CrisDgrnu, thank you for reaching out!

Make sure to add the configuration lines _before_ the line that calls the prompt to be used.

Example of my config:
[code]

If you are using `oh-my-zsh`, make sure to add the lines before the line sourcing `oh-my-zsh`:
[code]

Let me know if that helps out!

[2022-07-01 07:17] CrisDgrnu commented on #145
Yep, the problem was that I was writting the exports after the source command, thanks!

[2022-07-01 07:17] #145 closed

[2022-07-18 16:58] #129 closed

[2022-08-12 17:23] vishalmamidi opened #147 "arrow at cursor breaks on incorrect bash command"
**Describe the bug**
If there is an error in shell command arrow mark breaks and shows runmber before arrow mark,
`>` changes to `127 >`
to fix that I have to do clear command or invoke zsh shell again.

**To Reproduce**
Steps to reproduce the behavior:
type incorrect command "safdasfdasfa"

**Expected behavior**
*127* numbers should not appear infont of arrow.

**Screenshots**

![image](https://u

[2022-08-18 21:29] ndom91 commented on #147
This is the expected behavior. `127` is the exit code for `command not found`.

[2022-08-19 13:26] reobin commented on #147
Hello @vishalmamidi ! thank you for reaching out.

@ndom91 is right, this is the expected behavior. In the documentation, you can find the following line to help you out:

[2022-08-19 13:26] #147 closed

[2022-08-19 19:41] santiago-br opened #148 "Timestamp on prompt"
Hi,

Is it possible to append a timestamp on the prompt? It would be helpful to know when a command was run.

I've tried with `TYPEWRITTEN_RIGHT_PROMPT_PREFIX`, but it seems it is only read on start, so `date` doesn't work :(

[2022-08-26 02:04] reobin commented on #148
Hi @santiago-br ! Thanks for reaching out

Evaluating the right prompt on every command is actually a great idea. I'll make sure to work on this. (I also highly encourage anyone reading this to send a PR 🌞)

Also, I like the idea of an actual timestamp option. I'll think it over

[2022-09-27 17:00] KEDLogic commented on #148
I'd like to add on to this: I'm needed additional information added my prompt (Kube context for example, but its dynamic depending on the host system).

The TYPEWRITTEN_RIGHT_PROMPT_PREFIX seem a solid enough location if it was evaluated every command. I'll be watching for an update on this. :)

[2022-09-27 19:42] KEDLogic commented on #148
I added a kube_context prompt addition for my own purposes. Will fork and use that for now.

[2022-09-28 20:26] reobin commented on #148
Discussion following in #149

[2022-10-07 19:23] ganler commented on #135
Same issue here. The installation does not work for Ubuntu 22.04.

[2022-10-19 13:36] #148 closed

[2022-10-19 22:14] reobin commented on #148
Hey @santiago-br ! Happy to announce that the last update introduced the `TYPEWRITTEN_LEFT_PROMPT_PREFIX_FUNCTION` option which would let you add a timestamp as the right prompt prefix.

Example:
[code]